<ul class="leaves-data">
  <li class="leave_left">Leaves Left:
    {{model.leave_left}}
  </li>
  <li class="leave_allocated">Leaves Allocated:
    {{model.leave_allocated}}
  </li>
  <li class="leave_start_date">Leaves Start Date:
    {{model.leave_start_date}}
  </li>
  <li class="leave_end_date">Leaves End Date:
    {{model.leave_end_date}}
  </li>
</ul>
